p{
    color: #8f8f8f;
  }
  body
  {
    font-family: "Montserrat";
  }
  h1,h2,h3,h4,h5,h6{
    font-family: "Montserrat-bold";
  }
  #testimonials{
  
    text-align: center;
    background:linear-gradient(to right bottom, #fbdb89, #f48982);
    color: black;
    padding-top: 3rem;
    z-index: -1;
  }
  .pricing-container {
    text-align: center; /* Optional: Center the text */
  }
  
  .pricing-size {
    margin-bottom: 10px; /* Adjust as needed */
  }
  #cta{
    position: relative;
  
  }
  #press{
      background-color: #ef8172;
      padding-bottom: 3%;
      text-align: center;
  }
  #footer{
     text-align: center;
  
  }
  #pricing{
     padding: 100px;
     text-align: center;
  }
  .card-body{
    align-items: center;
  }
  #title{
     background:linear-gradient(to right bottom, #fbdb89, #f48982);
     position: relative;
  
  }

  #title .container-fluid{
    padding: 3% 15% 7%;
  }
  #features
  {
  
    position: relative;
    background-color:#fff;
    z-index: 1;
  }
  .test-size{
    font-size: 2.5rem;
    line-height: 1;
    z-index: 1;
  }
  .pricing-size{
    font-size: 3rem;
    line-height: 1.5;
  }
  .feature-size{
    font-size: 1.5rem;
  }
  
  .last{
    position: absolute;
    left: 0;
    bottom: 0;
  }
  .big-heading{
    font-family:"Montserrat-light";
    font-size: 3rem;
    line-height: 1.5;
  }
  .container-fluid
  {
    padding: 7% 15%;
    position: relative;
  }
   .navbar-brand{
    font-family: "Ubuntu";
    font-size: 2.5rem;
    font-weight: bold;
  }
  .navbar
  {
    padding: 0 0 4.5rem;
  }
  .nav-item{
    padding: 0px 18px;
  }
  .nav-link{
       font-family: "Montserrat-Light";
       font-size: 1.2rem;
  }
  .downloadbutton
  {
    margin: 5% 3% 5% 0%;
  }
  .title_img{
      width: 60%;
      transform: rotate(25deg);
      position: absolute;
  }
  .hellobhai{
    position:relative;
    /* padding-bottom: 70px; */
  }
  .check{
    position: absolute;
    left: 0;
    bottom: 0;
  }
  .feature_p
  {
    text-align: center;
    padding: 5%;
  }
  .icon
  {
    color: #ef8172;
    margin-bottom: 1rem;
  }
  .icon:hover{
    color: #ff4c68;
  }
  .anuj{
  
    position: absolute;
    bottom: 0px;
    left: 0px;
  }
  .testimonial-img{
    width: 10%;
    border-radius: 100%;
    margin: 20px;
  }
  
  .press-logo{
    margin: 20px 20px 50px;
    width: 15%;
  }
  
  
  @media (max-width:1028px) {
    #title{
      text-align: center;
    }
    .title_img{
      position: static;
      transform: rotate(0deg);
    }
  }
  .cta-item{
    background:linear-gradient(to right bottom, #fbdb89, #f48982);
        text-align: center;
        color: black;
  
  }
  .cta-heading{
     font-family: "Montserrat-bold";
     font-size: 3.5rem;
     line-height: 1.5;
  
  }
  
  .social-icon{
    margin: 20px 10px;
  }
  .pricing-item{
    padding: 3% 2%;
  }
  .container, .container-fluid, .container-xxl, .container-xl, .container-lg, .container-md, .container-sm {
    width: 0%;
  }
  .container {
    
    width: 400px;
    margin: auto;
    padding: 36px 48px 48px 48px;
    background-color: #f2efee;
  
    border-radius: 11px;
    box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.15);
  }
  
  .login-title {
    padding: 15px;
    font-size: 22px;
    font-weight: 600;
    text-align: center;
  }
  
  .login-form {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 16px;
  }
  
  .login-form label {
    display: block;
    margin-bottom: 8px;
  }
  
  .login-form input {
    /* width: 100%; */
    padding: 1.2rem;
    border-radius: 9px;
    border: none;
  }
  
  .login-form input:focus {
    outline: none;
    box-shadow: 0 0 0 4px rgba(253, 242, 233, 0.5);
  }
  
  .btn--form {
    background-color: #f48982;
    color: #fdf2e9;
    align-self: end;
    padding: 8px;
  }
  
  .btn,
  .btn:link,
  .btn:visited {
    display: inline-block;
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
    border-radius: 9px;
    border: none;
  
    cursor: pointer;
    font-family: inherit;
  
    transition: all 0.3s;
  }
  
  button {
    outline: 1px solid #f48982;
  }
  
  .btn--form:hover {
    background-color: #fdf2e9;
    color: #f48982;
  }
  